<li class="users-search__item">
    <span class="users-search__text">Имя: {{first_name}}</span>
    <span class="users-search__text">Фамилия: {{second_name}}</span>
    <span class="users-search__text">Логин: {{login}}</span>
</li>
