.button {
    font-size: 14px;
    font-weight: 500;
    font-family: $font;
    height: 36px;
    width: 100%;
    max-width: 337px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    background: $color-elem-first;
    border: 1px solid $color-elem-first;
    color: $color-text-light;
    border-radius: $radius;

    &:hover {
        background: $color-elem-first-hover;
        border: 1px solid $color-elem-first-hover;
    }

    &:active {
        background: $color-elem-first;
        border: 1px solid $color-elem-first;
        box-shadow:inset 0 0 6px #{HexToRGBA($color-main-dark, 0.3)};
    }

    &_transparent {
        background: transparent;
        color: $color-elem-first;

        &:hover {
            background: transparent;
            color: $color-elem-first-hover;
        }

        &:active {
            background: transparent;
            color: $color-elem-first;
        }
    }
}
