.form {
    &__button {
        margin-left: auto;
    }

    &__icon {
        transform: scale(-1);
    }

    &__message {
        text-align: center;
        margin-top: 20px;
        max-width: 337px;
        color: $color-success;

        &_error {
            color: $color-warning;
        }
    }
}
