.label {
    position: relative;
    color: $color-text-middle;
    display: block;
    padding: 20px 0;
    width: 100%;
    min-width: 337px;

    &:last-of-type:not(.label_no-bottom-indent) {
        margin-bottom: 20px;
    }

    &__name {
        font-size: 14px;
        line-height: 1.2;
        position: absolute;
        left: 0;
        top: 20px;
        transition: $transition;
    }

    &__line {
        height: 2px;
        width: 100%;
        background: $color-additional-first;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        overflow: hidden;

        &::before {
            content: '';
            transition: $transition;
            width: 0;
            height: 100%;
            background: $color-elem-first;
        }
    }

    &__input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        margin-bottom: 6px;
        font-family: $font;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        color: $color-text-dark;
        padding-right: 20px;

        &.not-empty,
        &:focus {
            & + .label__line {
                &::before {
                    width: 100%;
                }
            }

            & + .label__line + .label__name {
                top: 0;
                font-size: 12px;
            }
        }
    }

    &__message  {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 12px;
        opacity: 0;
        pointer-events: none;
        transition: $transition;
    }

    &__tooltip {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 22px;
    }

    &.error {
        .label__line {
            &::before {
                width: 100%;
                background: $color-warning;
            }
        }

        .label__input {
            color: $color-warning;
        }

        .label__message {
            color: $color-warning;
            opacity: 1;
            pointer-events: auto;
        }
    }
}
