*::before,
*::after,
* {
    box-sizing: border-box;
}

body, html {
    background: $color-main-dark;
    font-family: $font;
    color: $color-text-light;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

p {
    margin: 0;
}

input {
    padding: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
}
