<main class="main">
    <div class="shape">
        {{{buttonBack}}}
        <div class="shape__wrapper">
            <div class="profile">
                <div class="profile__inner">
                    {{{avatar}}}
                </div>
                {{{form}}}
            </div>
        </div>
    </div>
</main>
