{{#> page title="Профиль"}}  
    {{#> shape buttonBack="/messenger" className=""}}
        <div class="profile">
            <div class="profile__inner">
                {{> avatar big="true" name="Иван"}}
                {{> link url="/profile-change" text="Изменить данные"}}
                {{> link url="/profile-change-password" text="Изменить пароль"}}
                {{> link url="/login" text="Выйти" className="link_warning"}}
            </div>
            <ul class="profile__list">
                {{#each user.data}}
                    <li class="text profile__item">
                        <span class="profile__lettering">
                            {{name}}
                        </span>
                        {{value}}
                    </li>
                {{/each}}
                <li class="text profile__item">
                    <span class="profile__lettering">
                        Имя в чате
                    </span>
                    Иван
                </li>
            </ul>
        </div>
    {{/shape}}
{{/page}}
