<div class="modal" data-name="{{name}}">
    <div class="shape">
        <div class="shape__wrapper">
            {{{title}}}
            {{#each content}}
                {{{this}}}
            {{/each}}
        </div>
    </div>
</div>
