<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/src/styles/style.scss">
</head>
<body>
    <main class="main {{mainClassName}}">
        {{> @partial-block}}
    </main>
    <div class="test-nav">
        Список страниц
        <ul class="test-nav__list">
            {{#each pages.data}}
                <li class="test-nav__item">
                    {{> link url=url text=name}}
                </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
