<div>
    <main class="main">
        <div class="shape">
            {{{buttonBack}}}
            <div class="shape__wrapper">
                <div class="profile">
                    {{{form}}}
                </div>
            </div>
        </div>
    </main>
    {{{testNav}}}
</div>
