<div class="avatar {{className}} {{#if big}}avatar_big{{/if}}">
    {{#if load}}
        <label class="avatar__load">
    {{/if}}
        {{#if src}}
            <img class="avatar__img" onerror="this.remove()" src="{{src}}" alt="{{#if showAlt}}Аватар.{{/if}}">
        {{/if}}
        <span class="avatar__letter">
            {{firstLetter}}
        </span>
    {{#if load}}
            {{{input}}}
        </label>
    {{/if}}
</div>
