<div class="message {{#if from}}message_from{{/if}}">
    {{#if from}}
        <div class="message__head">
            {{sender}}
        </div>
    {{/if}}
    <div class="message__content">
        {{#each images}}
            <img src={{this}} alt="">
        {{/each}}
        {{{message}}}
    </div>
    <div class="message__footer">
        {{time}}
    </div>
</div>
